<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Student Management</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'easyui/demo/demo.css' %}">
</head>
<body>
    <h2>Student Management Application</h2>
    <p>Click the buttons on datagrid toolbar to do crud actions.</p>
    <script type="text/javascript" src="{% static 'easyui/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'easyui/jquery.easyui.min.js' %}"></script>
    {% block grid %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    <a href="{% url 'students:logout' %}">Logout</a>
</body>
</html>
